# -------------------------
# ⚡ VIRTUAL ENVIRONMENTS
# -------------------------
.venv/
venv/
envjarvis/

# -------------------------
# ⚡ PYTHON CACHE
# -------------------------
__pycache__/
*/__pycache__/
*.pyc

# -------------------------
# ⚡ DATABASE FILES
# -------------------------
jarvis.db
*.db

# -------------------------
# ⚡ PRIVATE / SENSITIVE FILES
# -------------------------
contacts.csv
engine/cookies.json

# -------------------------
# ⚡ TEMP / DEBUG FILES
# -------------------------
tempCodeRunnerFile.js

# -------------------------
# ⚡ LOG FILES
# -------------------------
*.log

# -------------------------
# ⚡ OS / SYSTEM FILES
# -------------------------
*.bat
